@import "../../styles/mixins";

.notifications {
  position: fixed;
  top: rem(30px);
  right: rem(30px);
  z-index: 9999999;
  width: rem(320px);
  max-width: rem(320px);
}

.notification {
  position: relative;
  padding: rem(14px);
  background-color: var(--color-secondary);
  border: 1px solid var(--color-gray);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgb(47 47 47 / 50%);
  animation-name: slide-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(8px);
  }

  &__close {
    --close-thickness: 3px;

    position: relative;
    display: block;
    flex-shrink: 0;
    width: rem(14px);
    height: rem(14px);
    cursor: pointer;
    transform: rotate(45deg);

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      background-color: var(--color-light);
      transform: translate(-50%, -50%);

      &:nth-child(1) {
        width: 100%;
        height: var(--close-thickness);
      }

      &:nth-child(2) {
        width: var(--close-thickness);
        height: 100%;
      }
    }
  }

  &__title {
    font-size: rem(16px);
    color: var(--color-light);

    &::first-letter {
      margin-right: rem(4px);
    }
  }

  &__text {
    font-size: rem(13px);
    line-height: 1.3em;
    color: var(--color-light);
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(2px);
    background-color: var(--color-purple);
    transition: width 0.2s linear;
  }

  &:not(:last-child) {
    margin-bottom: rem(14px);
  }

  &--closing {
    animation-name: slide-right;
  }
}

@keyframes slide-left {
  from { transform: translate(500px); }
  to { transform: translate(0) }
}

@keyframes slide-right {
  to { transform: translate(500px) }
}
