@import "../../styles/mixins";

.dashboard {
  padding: rem(40px);
}

.greeting {
  margin-bottom: rem(60px);

  &__name {
    margin-bottom: rem(20px);
  }

  &__text {
    font-size: rem(14px);
    font-weight: 500;
    color: var(--color-blue);
  }
}

.info {
  padding-bottom: rem(60px);

  &__type {
    padding: rem(10px) rem(16px);
    margin-bottom: rem(26px);
    color: var(--color-light);
    background-color: var(--color-secondary);
    border-radius: 4px;
  }

  &__row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: rem(50px);
  }

  &:not(:last-child) {
    margin-bottom: rem(50px);
    border-bottom: 2px solid var(--color-gray);
  }
}
