@import "../../styles/mixins";

.todo {
  padding: rem(40px);

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(50px);

    @include sm-laptop {
      margin-bottom: rem(30px);
    }

    @include tablet {
      margin-bottom: rem(20px);
    }

    @include mobile {
      margin-bottom: rem(14px);
    }
  }

  &__name {
    padding: rem(12px) rem(20px);
    font-size: rem(20px);
    font-weight: 500;
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 8px;
    outline: none;

    @include sm-laptop {
      padding: rem(10px) rem(16px);
      font-size: rem(16px);
    }

    @include tablet {
      padding: rem(8px) rem(14px);
      font-size: rem(14px);
    }

    @include mobile {
      font-size: rem(13px);
    }
  }

  &__delete {
    padding: rem(12px) rem(16px);
    font-size: rem(14px);
    color: var(--color-light);
    background-color: var(--color-blue-dark);

    @include sm-laptop {
      padding: rem(10px) rem(14px);
      font-size: rem(12px);
    }

    @include mobile {
      padding: rem(8px) rem(10px);
      font-size: rem(11px);
    }
  }

  &__add {
    display: flex;
    margin-bottom: rem(60px);

    input {
      flex: 1;
      padding: rem(16px);
      margin-right: rem(8px);
      color: var(--color-light);
      background-color: var(--color-secondary);
      border: none;
      border-radius: 4px;
      outline: none;

      &::placeholder {
        color: var(--color-gray);
      }

      @include sm-laptop {
        padding: rem(14px);
        font-size: rem(14px);
      }

      @include tablet {
        padding: rem(12px);
        font-size: rem(13px);
      }

      @include mobile {
        padding: rem(10px);
        font-size: rem(12px);
      }
    }

    button {
      padding: rem(16px) rem(24px);
      font-size: rem(14px);
      font-weight: 700;
      color: var(--color-white);
      background-color: var(--color-blue-dark);

      @include sm-laptop {
        padding: rem(14px) rem(18px);
        font-size: rem(12px);
      }

      @include tablet {
        padding: rem(10px) rem(14px);
        font-size: rem(11px);
      }
    }

    @include sm-laptop {
      margin-bottom: rem(50px);
    }

    @include tablet {
      margin-bottom: rem(40px);
    }
  }

  &__labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20px);

    @include sm-laptop {
      margin-bottom: rem(14px);
    }
  }

  &__label {
    font-size: rem(14px);

    span {
      padding: rem(2px) rem(8px);
      margin-left: rem(8px);
      font-size: rem(12px);
      font-weight: 700;
      color: #D9D9D9;
      vertical-align: middle;
      background-color: var(--color-secondary);
      border-radius: 30px;
    }

    @include sm-laptop {
      font-size: rem(12px);

      span {
        padding: rem(2px) rem(6px);
        margin-left: rem(6px);
        font-size: rem(11px);
      }
    }

    @include mobile {
      font-size: rem(11px);

      span {
        margin-left: rem(4px);
        font-size: rem(10px);
      }
    }
  }

  @include sm-laptop {
    padding: rem(30px);
  }

  @include tablet {
    padding: rem(20px);
  }

  @include mobile {
    padding: rem(20px) rem(10px);
  }
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(18px);
  background-color: var(--color-secondary);
  border-radius: 8px;

  &__left {
    display: flex;
    align-items: center;
    margin-right: rem(10px);
  }

  &__drag {
    margin-right: rem(10px);
    color: var(--color-gray);

    @include sm-laptop {
      margin-right: rem(8px);
      font-size: rem(20px);
    }

    @include tablet {
      margin-right: rem(6px);
      font-size: rem(18px);
    }
  }

  &__done {
    margin-right: rem(14px);
    color: var(--color-blue);

    span {
      @include sm-laptop {
        font-size: rem(20px);
      }

      @include tablet {
        font-size: rem(18px);
      }
    }
  }

  &__right {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__name {
    font-size: rem(14px);
    font-weight: 400;

    @include sm-laptop {
      font-size: rem(13px);
    }

    @include mobile {
      font-size: rem(12px);
    }
  }

  &__edit {
    margin-right: rem(6px);
  }

  &__edit-done span {
    color: var(--color-blue);
  }

  &:hover &__right {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-bottom: rem(12px);
  }

  &--done {
    .task__name {
      text-decoration: line-through;
    }

    .task__done span {
      color: var(--color-purple);
    }
  }

  &__edit span,
  &__delete span {
    font-size: rem(22px);
    color: var(--color-gray);

    @include sm-laptop {
      font-size: rem(20px);
    }

    @include mobile {
      font-size: rem(18px);
    }
  }

  @include sm-laptop {
    padding: rem(14px);
  }
}
