@import "../../styles/mixins";

.logo {
  display: flex;
  align-items: center;

  &__image {
    width: rem(26px);
    margin-right: rem(16px);
  }

  &__name {
    font-size: rem(34px);
    font-weight: 900;
    color: var(--color-blue);
    letter-spacing: 0.1rem;

    span {
      color: var(--color-purple);
    }
  }
}
