@import "../../styles/mixins";

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__image {
    width: rem(26px);
    margin-right: rem(16px);

    @include sm-laptop {
      width: rem(22px);
      margin-right: rem(10px);
    }

    @include tablet {
      margin-right: 0;
    }
  }

  &__name {
    font-size: rem(34px);
    font-weight: 900;
    color: var(--color-blue);
    letter-spacing: 0.1rem;

    span {
      color: var(--color-purple);
    }

    @include sm-laptop {
      font-size: rem(28px);
    }

    @include tablet {
      display: none;
    }
  }
}
