@import "../../styles/mixins";

.sidebar {
  padding: rem(20px) var(--container-horizontal-offset) rem(20px) 0;
  border-right: 1px solid var(--color-secondary);

  & .logo {
    margin-bottom: rem(34px);
  }

  & .group {
    margin-top: rem(40px);

    @include tablet {
      margin-top: rem(30px);
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav {
  &__item:not(:last-child) {
    margin-bottom: rem(12px);
  }

  &__link {
    display: flex;
    align-items: center;
    padding: rem(10px) rem(12px);
    color: var(--color-light);
    cursor: pointer;
    background-color: var(--color-secondary);
    border-radius: 5px;
    transition: background-color 0.2s ease-in;

    &-icon {
      margin-right: rem(12px);

      @include sm-laptop {
        margin-right: rem(10px);
        font-size: rem(22px);
      }

      @include tablet {
        margin-right: 0;
      }
    }

    &-name {
      font-size: rem(14px);
      font-weight: 500;

      @include sm-laptop {
        font-size: rem(13px);
      }

      @include tablet {
        display: none;
      }
    }

    &:hover {
      background-color: var(--color-gray);
    }

    &.nav__link--active {
      background-color: var(--color-purple);
    }

    @include sm-laptop {
      padding: rem(6px) rem(8px);
    }

    @include tablet {
      justify-content: center;
    }
  }
}
