@import "../../styles/mixins";

.account {
  display: flex;
  align-items: flex-start;
  padding: rem(48px) rem(60px);

  @include sm-laptop {
    padding: rem(40px) rem(50px);
  }

  @include tablet {
    padding: rem(30px) rem(40px);
  }

  @include resolution(500px) {
    flex-direction: column;
  }
}

.photo {
  position: relative;
  margin-right: rem(60px);
  overflow: hidden;

  img {
    width: rem(200px);
    height: rem(200px);
    object-fit: cover;
    border-radius: 100%;

    @include sm-laptop {
      width: rem(160px);
      height: rem(160px)
    }

    @include tablet {
      width: rem(130px);
      height: rem(130px);
    }
  }

  &__change {
    position: absolute;
    right: 50%;
    bottom: 0;
    padding: rem(8px) rem(16px);
    font-size: rem(14px);
    color: var(--color-light);
    cursor: pointer;
    background-color: rgb(0 0 0 / 80%);
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    transform: translate(50%, rem(32px));

    @include sm-laptop {
      padding: rem(6px) rem(10px);
      font-size: rem(12px);
    }
  }

  &:hover &__change {
    transform: translate(50%, rem(-18px));
  }

  @include sm-laptop {
    margin-right: rem(40px);
  }

  @include tablet {
    margin-right: rem(30px);
  }

  @include resolution(500px) {
    margin: 0 0 rem(30px);
  }
}

.user {
  flex: 1;

  &__name {
    margin-bottom: rem(10px);
  }

  &__nickname {
    margin-bottom: rem(40px);
    color: var(--color-blue);

    @include tablet {
      margin-bottom: rem(30px);
    }
  }
}

.action {
  display: flex;

  &__button {
    padding: rem(7px) rem(12px);
    margin-right: rem(10px);
    font-size: rem(13px);

    @include sm-laptop {
      font-size: rem(12px);
    }

    @include tablet {
      padding: rem(5px) rem(9px);
      font-size: rem(12px);
    }
  }

  &__input {
    width: 0;
    font-size: rem(13px);
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 4px;
    outline: none;
    transition: flex 0.2s ease-in-out, padding 0.2s ease-in-out;
  }

  &:not(:last-child) {
    margin-bottom: rem(12px);
  }

  &--active &__input {
    flex: 1;
    width: 100%;
    padding: 0 rem(10px);
  }
}
