@import "../../styles/mixins";

.account {
  display: flex;
  align-items: flex-start;
  padding: rem(48px) rem(60px);
}

.photo {
  position: relative;
  margin-right: rem(60px);
  overflow: hidden;

  img {
    width: rem(200px);
    height: rem(200px);
    object-fit: cover;
    border-radius: 100%;
  }

  &__change {
    position: absolute;
    right: 50%;
    bottom: 0;
    padding: rem(8px) rem(16px);
    font-size: rem(14px);
    color: var(--color-light);
    cursor: pointer;
    background-color: rgb(0 0 0 / 80%);
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    transform: translate(50%, rem(32px));
  }

  &:hover &__change {
    transform: translate(50%, rem(-18px));
  }
}

.user {
  flex: 1;

  &__name {
    margin-bottom: rem(10px);
  }

  &__nickname {
    margin-bottom: rem(40px);
    color: var(--color-blue);
  }
}

.action {
  display: flex;

  &__button {
    padding: rem(7px) rem(12px);
    margin-right: rem(10px);
    font-size: rem(13px);
  }

  &__input {
    width: 0;
    font-size: rem(13px);
    color: var(--color-light);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 4px;
    outline: none;
    transition: flex 0.2s ease-in-out, padding 0.2s ease-in-out;
  }

  &:not(:last-child) {
    margin-bottom: rem(12px);
  }

  &.active &__input {
    flex: 1;
    width: 100%;
    padding: 0 rem(10px);
  }
}

.file {
  margin-top: rem(12px);

  &__label {
    display: block;
    padding: rem(8px);
    margin: 0 auto;
    font-size: rem(13px);
    text-align: center;
    background-color: var(--color-purple);
  }

  &__input {
    display: none;
  }
}
